# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
numpy>=1.19.1
pandas>=1.1.2
scipy>=1.5.2
sympy>=1.6.2
matplotlib
rdkit
mpmath

jupyter>=1.0.0
typing>=3.7.4.3

sphinx>=3.2.1
nbsphinx>=0.7.1
m2r>=0.2.1
